{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf8">
    <title>Mes mangas</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'mangalib/css/main.css' %}">
</head>
<body>
    <h1 style="color:#4c75d6">Bienvenue sur MangaLib !</h1>

    <p><a href="{% url 'mangalib:add' %}">AJOUTER LIVRE</a></p>

    <table>
        <tr>
            <th>NOM</th>
            <th>AUTEUR</th>
            <th>QTÉ</th>
            <th colspan="2">ACTIONS</th>
        </tr>
        {% for book in books %}
            <tr>
                <td><a href="{% url 'mangalib:show' book.id %}">{{ book.title }}</a> </td>
                <td>{{ book.author }}</td>
                <td>{{ book.quantity }}</td>
                <td><a href="{% url 'mangalib:edit' book.id %}">[e]</a></td>
                <td><a href="{% url 'mangalib:delete' book.id %}">[x]</a></td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>